body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.isBtn {
    cursor: pointer !important;
    color: #337ab7;
}

    .isBtn:hover {
        cursor: pointer !important;
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5);
    }

.textboxReadOnly:hover {
    cursor: not-allowed
}

.textboxReadOnly {
    text-transform: capitalize;
    /*height: 30px !important;*/
    color: forestgreen !important;
}