@{
    ViewBag.Title = "Tienda de Libros";
}

<div>
    <h1>Tienda de Libros - Practica</h1>
</div>
<br />
<div class="row">
    <div class="container">
        <table id="TblBooksList" class="table table-striped table-bordered" style="width:100% !important"></table>

    </div>
</div>


